body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

.tags-enter {
  background-color:#465362;
  transform: translateX(-120%);
  transition: 1s;
}

.tags-enter.tags-enter-active{
  transform: translateX(0);
  background-color: #6A7D93;
}

.stories-enter {
  transform: translateX(-120%);
  transition: 5s;
}

.stories-enter.stories-enter-active{
  transform: translateX(0);
}

.stories-leave {
  color: #6A7D93;
  border-top: 10px solid #6A7D93;
  border-bottom: 10px solid #6A7D93;
  transition: 1s;
}

.stories-leave.stories-leave-active{
  color:white;
  border-top: 0px solid white;
  border-bottom: 0px solid white;
}

.reads-enter {
  transform: translateX(-120%);
  transition: 3s;
}

.reads-enter.reads-enter-active{
  transform: translateX(0);
}

.reads-leave {
  color: #6A7D93;
  border-top: 10px solid #6A7D93;
  border-bottom: 10px solid #6A7D93;
  transition: 1s;
}

.reads-leave.reads-leave-active{
  color:white;
  border-top: 0px solid white;
  border-bottom: 0px solid white;
}


header {
  text-align: right;
  padding-right: 1%;
}

.header {
  text-align: center;
}

.story {
  text-align: center;
display: inline-block;
border-radius: 10px;
padding: 1%;
margin-left: 1%;
margin-top: 1em;
color: #6A7D93;
border-top: 10px solid #6A7D93;
border-bottom: 10px solid #6A7D93;
}

.prompt {
  text-align: center;
}


.promptText {
  padding: 1em;
  color:#6A7D93;
  display: inline-block;
  margin: 0 auto;
  margin-top: 2em;
  border-radius: 5%;
  border-top: 10px solid #6A7D93;
  border-bottom: 10px solid #6A7D93;
}


.promptDeleteButton button{
  border: none;
  border-radius: 10px;
  padding: .5em;
  color: white;
  background: #465362;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 1em;
}

.promptDeleteButton button:hover {
  background: #80A1C1;
}

li{
  list-style: none;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

.createStoryForm {
  margin-top: 4em;
  margin-bottom: 2em;
}

.createStoryInput {
  width: 40em;
  height: 10em;
  text-align: center;
}



.stories {
  margin-top: 2em;
}

.tag {
  display: inline-block;
    margin: 0 1em 0 1em;
    border: 1px solid black;
    padding: 1em;
    border-radius: 10px;
    background-color: #6A7D93;
    color: white;
}

.addTag {
  margin-top: 1em;
}


.updatePromptForm {
  text-align: center;
  margin: 1em 1em;
}


.storyChange {
  width: 20em;
  height: 10em;
}

.read {
  text-align: center;
display: inline-block;
border-radius: 10px;
padding: 1%;
margin-left: 1%;
margin-top: 1em;
color: #6A7D93;
border-top: 10px solid #6A7D93;
border-bottom: 10px solid #6A7D93;
}

.searchForm {
  text-align: center;
}

.searchForm button {
  border: none;
  border-radius: 10px;
  padding: .5em;
  color: white;
  background: #465362;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 1em;
  margin-left: 1em;
}

.searchTags {
  text-align: center;
}

.CreatePromptForm {
  text-align: center;
  margin-bottom: 1em;
}


.CreatePromptForm input {
  width: 20em;
}


.button {
  border: none;
  border-radius: 10px;
  padding: .5em;
  color: white;
  text-align: center;
  background: #465362;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 1em;
  margin-left: 1em;
}


.button:hover {
  background: #80A1C1;
}

.getPromptButton {
  margin-left: 20%;
  margin-right: 20%;
  border: none;
  border-radius: 10px;
  padding: .5em;
  color: white;
  background: #465362;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.showStoriesButton {
  margin-left: 20%;
  margin-right: 20%;
  border: none;
  border-radius: 10px;
  padding: .5em;
  color: white;
  background: #465362;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
.getPromptButton:hover {
  background: #80A1C1;
}
.showStoriesButton:hover {
  background: #80A1C1;
}

input[type=text] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.promptTextBody:hover {
  color:white;
  background: #80A1C1;
  border-radius: 10px;
}

.storyTextBody:hover{
  color:white;
  background: #80A1C1;
  border-radius: 10px;
}

.headerText {
  text-align: center;
}
